// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

// Fontawesome
@import './fontawesome';

// Variables
@import 'variables';

.bg-background {
    background-color: #cdf4fc;
}

h1, h4 {
    font-family: "Oswald", sans-serif;
}

p {
    line-height: 1.75rem !important;
    font-size: 1.15rem !important;
}

a, .color-default, .btn-default {
    color: #0da0bd;
}

a:hover, .btn-default:hover {
    color: #0b8ca5;
}

.bg-container {
    background-color: #0da0bd !important;
}

.bg-default {
    background-color: #0da0bd !important;
    color: #fff !important;
}

.bg-default:hover {
    background-color: #0b8ca5 !important;
    color: #fff;
}

.navbar-background {
    background-color: #0da0bd;
}

.text-default {
    color: rgb(8, 99, 117) !important;
    font-size: 1.15rem !important;
}

.link-default {
    color: #0da0bd !important;
    text-decoration: none;
}

.link-default:hover{
    color: #0b8ca5 !important;
    text-decoration: none;
}

#footer {
    background-color: rgb(8, 99, 117);
}

#footer-section {
    width: 100%;
    padding: 12px;
    background-repeat: repeat-x;
    background-color: #0da0bd;
    background-image: url("/assets/orla.png")
}

.img-author {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    float: right;
    position: relative;
    z-index: 100;
    margin-top: -25px;
    padding: 2px 6px;
}

.heigth-img {
    height: 200px;
}

.heigth-img-show {
    height: 500px;
}

.heigth-img, .heigth-img-show img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.height-card {
    min-height: 130px !important;
    max-height: 130px !important;
}

.width-icon {
    min-width: 100px !important;
    max-width: 100px !important;
}

.bg-icon {
    background-color: rgba(0, 0, 0, 0.16);
}

.style-font {
    font-size: 22px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
